.dropDown__wrapper {
  background-color: rgb(21, 97, 109);
  border-radius: 1rem;
  padding: 0.75rem;
  overflow: scroll;
  width: 100%;
  position: relative;
  z-index: 1;
  box-shadow:
    rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.preview {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.preview svg {
  height: 2rem;
}

.dropDown__wrapper h3 {
  margin: 0;
}

.children__wrapper {
  background-color: darkorange;
  padding: 1rem;
  padding-top: 4rem;
  transform: translateY(-2rem);
}

@media screen and (min-width: 768px) {
}
