.dropDown__wrapper {
  background-color: rgb(21, 97, 109);
  border-radius: 1rem;
  padding: 0.75rem;
  overflow: scroll;
  width: 100%;
}

.preview {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.preview svg {
  height: 2rem;
}

.dropDown__wrapper h3 {
  margin: 0;
}

.children__wrapper {
  margin-top: 3%;
}

@media screen and (min-width: 768px) {
}
