.variableInput__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.input__wrapper {
  align-items: center;
  display: flex;
  width: 65%;
}

.plusSign {
  width: auto;
}
