.homePageWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: #001524;
  flex-direction: column;
  height: 100%;
  width: 100vw;
  overflow: auto;
}

.homePageWrapper h2 {
  margin: 3% auto;
  /* padding-left: 10rem; */
}

.workspace {
  height: 100%;
  padding: 1rem 0;
}

@media screen and (min-width: 768px) {
  .workspace {
    display: flex;
    flex-direction: row;
  }
}
