.unitForm__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 1rem;
}

.defensiveStats__wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.attackingStats__wrapper {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
  width: 100%;
}

.attackingStats__wrapper > * {
  width: 100%;
  display: flex;
  gap: 1rem;
}

.weaponStats > * {
  width: 100%;
}

.weaponStats label {
  display: block;
  text-align: center;
}

.dropDown__wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.list__wrapper {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 2rem 1.5rem;
  gap: 0.5rem;
}

.list__wrapper li {
  position: relative;
  padding: 0.5rem 0;
  border-bottom: 1px solid #000000;
  display: flex;
  justify-content: space-between;
}

.list__wrapper li label {
  font-size: larger;
}

.list__wrapper li svg {
  width: 1.5em;
  height: 1.5em;
  fill: #000000;
}

.checkmark {
  position: absolute;
  left: 12%;
  top: -3%;
  width: 1.25em;
}

.sustainedHits {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 35%;
}
