.unitForm__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 1rem;
}

.defensiveStats__wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.attackingStats__wrapper {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
  width: 100%;
}

.attackingStats__wrapper > * {
  width: 100%;
  display: flex;
  gap: 1rem;
}

.weaponStats > * {
  width: 100%;
}

.dropDown__wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.chip__wrapper {
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.sustainedHits {
  display: flex;
  width: 100%;
  gap: 0.5rem;
}
