.defensiveStats__wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.attackingStats__wrapper {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
}

.attackingStats__wrapper div {
  width: 100%;
}
