.unitForm__wrapper {
  height: 100%;
  padding: 1rem;
}

.defensiveStats__wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.attackingStats__wrapper {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
}

.attackingStats__wrapper {
  width: 100%;
}

.modelsInput {
  width: 100%;
}

.chip__wrapper {
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.sustainedHits {
  display: flex;
  width: 100%;
  gap: 0.5rem;
}
