.page {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.defensiveStats__wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
}
.attackingStats__wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  width: 100%;
}
