* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
#main {
  display: flex;
  height: 100vh;
  min-height: 100vh;
  background-color: #ffecd1;
}
#main > article {
  flex: 1;
}
#main > nav,
#main > aside {
  flex: 0 0 25vw;
  background: #90a19d;
}
#main > nav {
  order: -1;
}
main {
  width: 100%;
}
@media screen and (min-width: 768px) {
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
header,
footer,
article,
nav,
aside {
  padding: 1em;
}
header,
nav {
  z-index: 10;
  background: #196774;
  height: 15vh;
  border-radius: 15px 15px 0 0;
  position: static;
}
