.resultsModal {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #78290f;
  padding: 1rem;
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1rem;
  z-index: 20;
  overflow: scroll;
  gap: 1rem;
  height: 90%;
}

.resultsModal div {
  box-shadow:
    rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.results__span {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 1rem;
  width: 100%;
}

.results__span div {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
  background-color: rgb(21, 97, 109);
  overflow: auto;
  border-radius: 1rem;
  text-align: center;
  box-shadow:
    rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

@media screen and (min-width: 768px) {
  .resultsModal {
    position: static;
    flex-direction: column;
    top: 0%;
    left: 0%;
    transform: translate(0%, 0%);
    z-index: 1;
    width: 40%;
    margin: 0 auto;
    height: 100%;
  }

  .resultsModal div {
    width: 100%;
  }
}
