.resultsModal {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #78290f;
  padding: 1rem;
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1rem;
  z-index: 20;
  overflow: scroll;
  height: 90%;
}

.results__span {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 1rem;
}

.results__span div {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 1rem;
  background-color: rgb(21, 97, 109);
  overflow: auto;
  border-radius: 1rem;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .resultsModal {
    position: static;
    flex-direction: row;
    top: 0%;
    left: 0%;
    transform: translate(0%, 0%);
    z-index: 1;
    width: 50%;
    margin: 0 auto;
    height: 100%;
  }

  .resultsModal button {
    position: absolute;
    bottom: 8%;
  }

  .results__span {
    flex-direction: column;
    margin: auto;
    width: 25%;
    gap: 2rem;
  }

  .results__span div {
    width: auto;
  }
}
