.unitForm__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 1rem;
  overflow: scroll;
}

.submitButton {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.8em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #ffecd1;
  color: #001524;
  cursor: pointer;
  transition: border-color 0.25s;
  box-shadow:
    rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

@media screen and (min-width: 768px) {
  .unitForm__wrapper {
    width: 40%;
    background-color: #ffecd1;
    border-radius: 0 1rem 1rem 0;
  }

  .submitButton {
    background-color: #196774;
    color: #ffecd1;
  }
}

.attackProfile {
  display: flex;
}

.defensiveStats__wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.attackingStats__wrapper {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
  width: 100%;
}

.attackingStats__wrapper > * {
  width: 100%;
  display: flex;
  gap: 1rem;
}

.weaponStats > * {
  width: 100%;
}

.weaponStats label {
  display: block;
  text-align: center;
}

.unitInputs__wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.unitInputs__wrapper .addFormIcon {
  font-size: large;
  fill: rgb(255, 125, 0);
  height: 3rem;
  width: 3rem;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.minus {
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.minus svg {
  width: 2rem;
  height: auto;
  background-color: #ffecd1;
  padding: 0.5rem;
  color: #001524;
  border-radius: 50%;
}

.list__wrapper {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 2rem 1.5rem;
  gap: 0.5rem;
}

.list__wrapper li {
  position: relative;
  padding: 0.5rem 0;
  border-bottom: 1px solid #000000;
  display: flex;
  justify-content: space-between;
}

.list__wrapper li label {
  font-size: larger;
}

.list__wrapper li svg {
  width: 1.5em;
  height: 1.5em;
  fill: #000000;
}

.checkmark {
  position: absolute;
  left: 12%;
  top: -3%;
  width: 1.25em;
}

.sustainedHits {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 35%;
}

.sustainedHits select {
  margin-right: 1rem;
  height: 100%;
}

.selectNative,
.selectCustom {
  position: relative;
  width: 22rem;
  height: 4rem;
}

.selectCustom {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

@media (hover: hover) {
  .selectCustom {
    display: block;
  }
  .sustainedHits select {
    margin-right: 2rem;
  }
  .minus svg {
    background-color: #196774;
    color: #ffecd1;
  }
}
